# ============================
# .NET Backend
# ============================
**/bin/
**/obj/
**/.vs/
**/*.user
**/*.suo
**/*.cache

# App settings / secrets
**/appsettings.json
**/appsettings.Development.json

# Logs
**/logs/
**/*.log

# ============================
# React Frontend
# ============================
**/node_modules/
**/build/
**/dist/
**/.env
**/.env.local
**/Axios.jsx
# npm / yarn logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ============================
# Editor / OS files
# ============================
.vscode/
.idea/
.DS_Store
Thumbs.db

User-backend/User/appsettings.json
User-backend/**/bin/
User-backend/**/obj/
.env